.section {
	height: 95vh;
	width: 25vw;
	flex: 1 1 0;
	outline: 2px solid black;
	overflow: auto;
}
html, body {
	margin:0;
	padding: 0;
	display: flex;
	flex-direction: row;
}
h1 {
	text-align: center;
}
#alerts-bar {
	position:absolute;
	bottom:0;
	width:100vw;
	height:5vh;
	background-color: red;
	outline: 2px solid black;
}
#alerts-label {
	height: 100%;
	width: 6%;
	float: left;
}
#alerts-label-text {
	padding: 0;
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#alerts-text {
	height: 100%;
	width: 94%;
	float: right;
}
.marquee {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	font-size: 2em;
}
.monitor-container {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.monitor-label {
	width: 25%;
	white-space: nowrap;
	margin-left: 0.35rem;
}
.monitor {
	outline: 2px solid black;
	line-height: 2rem;
	height: 2rem;
	width: 3rem;
	margin: 1rem;
	text-align: center;

}